<!-- <mat-sidenav-container fullscreen>
    <mat-sidenav #sideNav>
     <mat-nav-list>
       <a href="javascript:;" mat-list-item>
         <mat-icon>
           library_books
         </mat-icon>
         Course
       </a>
       <a href="javascript:;" mat-list-item>
         <mat-icon>
           question_answer
         </mat-icon>
         About
       </a>
     </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary" class="d-flex justify-content-between">
     <div>
       <button mat-icon-button>
         <mat-icon (click)="sideNav.open()">
           menu
         </mat-icon>
       </button>
     </div>
    <div>
     <a href="javascript:;" mat-button [matMenuTriggerFor]="dropdown">
       Dropdown
     </a>
     <mat-menu #dropdown>
       <button mat-menu-item>
         Course
       </button>
       <button mat-menu-item>
         About
       </button>
     </mat-menu>
     <button mat-button (click)="onLogOut()">
       <mat-icon>
         account_circle
       </mat-icon>
       Log out
     </button>
    </div>
    </mat-toolbar>
</mat-sidenav-container> -->